{
  "extends": ["airbnb", "airbnb/hooks"],
  "plugins": [
    "@blueprintjs/blueprint"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "object-curly-newline": 0,
    "func-names": ["error", "always", { "generators": "never" }],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
