@import "src/common/styles/styles.scss";

.main-content-wrapper {
  transition: 0.2s padding ease;

  &.bp3-dark { background-color: $darkColorBg; }

  &, .main-content { min-height: 100vh; }

  .main-content {
    padding: 80px 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
  }
}