@import "src/common/styles/styles.scss";

.main-content-wrapper {
  transition: 0.2s padding ease;

  &.bp3-dark { background-color: $darkColorBg; }

  &, .main-content { min-height: 100%; }

  .main-content {
    padding: 2rem;
  }
}