.personal-info-view {
  & > .bp3-divider {
    margin: 1.5rem 0 1rem 0;
  }

  .profile-picture {
    position: relative;
    margin: 8px auto 0 auto;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    overflow: hidden;

    &.loading {
      filter: grayscale(1);

      &:before,
      .bp3-spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }


      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .fields {
    display: flex;
    flex-wrap: wrap;

    & > .text-field {
      flex: 0 0 100%;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &.row-2 {
        flex: 0 0 50%;
      }

      &.row-3 {
        flex: 0 0 33.33%;
      }
    }
  }
}
