.personal-info {
  .bp3-form-group {
    margin: 0;
  }

  .row-3 {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin-bottom: 0;
      flex: 1 0;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  .row-2 {
    display: flex;

    & > div {
      flex: 1 0 49%;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

  .bp3-divider {
    margin: 1rem 0;
  }
}