@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

html, body, div#root {
  &, > .root-content {
    height: 100%;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }

  .custom-link {
    color: #48AFF0;
    cursor: pointer;
  }

  .spacer {
    flex: 1;
  }

  .input-field {
    width: 100%;

    &:not(.bp3-datepicker) {
      margin-bottom: 0.5rem;
    }

    &.error {
      outline: 1px solid #A82A2A;
    }
  }

  .popover {
    padding: 20px;

    h5 {
      font-weight: 500;
    }

    .popover-content {
      padding: 0.5rem 0 1rem 0;
    }

    .controls {
      display: flex;
      justify-content: flex-end;
      
      .bp3-button {
        min-width: 70px;

        &:first-of-type {
          margin-right: 0.5rem
        }
      }
    }
  }

  .bp3-portal {
    .bp3-popover-content .bp3-menu .bp3-menu-item.active {
      background-color:rgba(19, 124, 189, 0.5);
    }
  } 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
  animation-duration: 0.8s;
}
