.text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.bp3-dark {
    small {
    border-top: 1px solid rgba(255,255,255,0.5);
    }
  }

  > * {
    width: 100%;
  }

  small {
    padding-top: 2px;
    margin-top: 2px;
    font-size: 11px;
    opacity: 0.75;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
}
