.data-table {
  .action-column {
    &.bp3-table-header  .bp3-table-column-name {
      text-align: center;
    }

    &.bp3-table-cell:not(.bp3-loading) {
      padding: 0;

      *:not(svg) {
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      .bp3-button {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span.bp3-icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
  